.popup__input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 22px;
  margin: 0 auto;
  border: 0;
}

@media screen and (min-width: 1280px) {
  .popup__input-container {
    padding: 0 36px;
  }
}
