.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 620px) {
  .profile {
    flex-direction: row;
    max-width: calc(620px - 19px * 2);
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    max-width: 880px;
  }
}
