.card__like-icon {
  display: block;
  width: 22px;
  height: 20px;
  background-image: url(../../../images/UIKIT-icon-like.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  transition: .4s;
}

.card__like-icon:active {
  background-image: url(../../../images/UIKIT-icon-like-active.svg);
  border: 0;
}

.card__like-icon:hover {
  opacity: .6;
}
