.profile__content {
  display: grid;
  grid-template-columns: 189px 18px;
  grid-template-rows: 26px 14px;
  gap: 14px 10px;
  grid-template-areas:
    "profile__info_name profile__info_form"
    "profile__info_description profile__info_description";
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-bottom: 36px;
}

@media screen and (min-width: 1280px) {
  .profile__content {
    grid-template-columns: 294px 24px;
    grid-template-rows: 39px 18px;
    gap: 16px 18px;
    justify-items: start;
    align-content: center;
    padding-left: 30px;
  }
}
