.popup__edit-form-error {
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ff0000;
  position: absolute;
  top: 33px;
  left: 22px;
  transition: 0.3s;
  opacity: 0;
}

.popup__edit-form-error:nth-of-type(2) {
  top: 90px;
}

@media screen and (min-width: 1280px) {
  .popup__edit-form-error {
    left: 36px;
  }
}
