.popup__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
