.profile__info_form {
  grid-area: profile__info_form;
  transform: translateX(13px);
}

@media screen and (min-width: 1280px) {
  .profile__info_form {
    transform: translateX(0);
    transform: translateY(7px);
  }
}
