.card__trash-icon {
    display: block;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/UIKIT-icon-trash.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
    padding: 0;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);

  }

  .card__trash-icon:hover {
    opacity: 0.6;
  }



